/* ------------------------- global styles ------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
    /* border: 1px solid red; */
}

/* ------------------------- elements ------------------------- */
h1 {
    background-color: darkslategray;
    width: 300px;
    height:48px;
    line-height: 1.5;
}

h1,
h2,
h3 {
    text-align: center;
    text-transform: uppercase;
    color: lightsteelblue;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 9px;
}

button {
    border: 0px solid black;
    font-family: 'Audiowide', sans-serif;
    font-size: 25px;
    width: 150px;
    padding: 5px;
    margin: 5px;
}

button:hover {
    cursor: pointer;
    color: slategray;
}


/* ------------------------- body ------------------------- */
body {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightslategray;
}

/* ------------------------- header ------------------------- */
header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

/* ------------------------- main ------------------------- */
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ------------------------- both boards ------------------------- */
.both-boards {
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    height: auto;
}

.board {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.board>h2 {
    font-size: 20px;
}

.grid {
    grid-template-columns: repeat(7, 35px);
    grid-template-rows: repeat(7, 35px);
}

.grid>div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid>div>p {
    text-align: center;
    font-size: 25px;
    margin-right: 1px;
    margin-top: 22px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-grid>div>p {
    color: lightgreen;
}

.bottom-grid>div>p {
    color: cornflowerblue;
}


/* ------------------------- board labels ------------------------- */
.label {
    display: grid;
    grid-template-columns: repeat(1, 35px);
    grid-template-rows: repeat(7, 35px);
    margin: 40px 0;
    align-items: center;
}

.label h2 {
    align-items: center;
    padding: 10px 0;
    background-color: darkslategray;
}

.enemy-label h2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 6;
}

.ally-label h2 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 6;
}

/* ------------------------- top board ------------------------- */

.top {
    margin-bottom: 10px;
}

/* ------------------------- bottom board ------------------------- */

.bottom {
    margin-top: 10px;
}

/* ------------------------- top grid ------------------------- */
.top-grid {
    height: auto;
    width: auto;
    display: grid;
}

.top-grid>div {
    background-color: forestgreen;
    border: 2px solid lightgreen;
}

.top-grid>div:hover {
    cursor: pointer;
}

/* ------------------------- bottom grid ------------------------- */
.bottom-grid {
    height: auto;
    width: auto;
    display: grid;
}

.bottom-grid>div {
    background-color: lightskyblue;
    border: 2px solid cornflowerblue;
}

/* ------------------------- all grids ------------------------- */
.one {
    grid-row: 1 / span 1;
}

.top-grid>.one>p {
    text-align: center;
    color: lightsteelblue !important;
    font-size: 15px !important;
}

.top-grid>.one {
    background-color: transparent !important;
    border: none !important;
}

.top-grid>.one:hover {
    cursor: default !important;
}

.bottom-grid>.one {
    border-top: 4px solid cornflowerblue;

}

.two {
    grid-row: 2 / span 1;
}

.top-grid>.two {
    border-top: 4px solid lightgreen;

}

.three {
    grid-row: 3 / span 1;
}

.four {
    grid-row: 4 / span 1;
}

.five {
    grid-row: 5 / span 1;
}

.six {
    grid-row: 6 / span 1;
}

.bottom-grid>.six {
    border-bottom: 4px solid cornflowerblue;
}

.seven {
    grid-row: 7 / span 1;
}

.top-grid>.seven {
    border-bottom: 4px solid lightgreen;
}

.bottom-grid>.seven {
    background-color: transparent !important;
    border: none !important;
}

.bottom-grid>.seven>p {
    text-align: center;
    color: lightsteelblue;
    font-size: 15px !important;
}

.a {
    grid-column: 1 / span 1;
}

.top-grid>.a:hover {
    cursor: default !important;
}

.top-grid>.a,
.bottom-grid>.a {
    background-color: transparent !important;
    border: none !important;
}


.a>p {
    text-align: center;
    color: lightsteelblue !important;
    font-size: 15px !important;
}

.b {
    grid-column: 2 / span 1;
}

.top-grid>.b {
    border-left: 4px solid lightgreen;

}

.bottom-grid>.b {
    border-left: 4px solid cornflowerblue;

}

.c {
    grid-column: 3 / span 1;
}

.d {
    grid-column: 4 / span 1;
}

.e {
    grid-column: 5 / span 1;
}

.f {
    grid-column: 6 / span 1;
}

.g {
    grid-column: 7 / span 1;
}

.top-grid>.g {
    border-right: 4px solid lightgreen;

}

.bottom-grid>.g {
    border-right: 4px solid cornflowerblue;

}

#hit,
#missed {
    cursor: default !important;
}

/* ------------------------- divider ------------------------- */
.divider {
    height: 650px;
    visibility: collapse;
    background-color: darkslategray;
}

/* ------------------------- graveyards ------------------------- */

aside {
    height: auto;
    width: auto;

}

.graveyards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graveyard {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 35px);
    grid-template-rows: repeat(6, 35px);
    margin: 10px 40px;
}

.graveyard>div {
    background-color: red;
    border: 2px solid orange;
}

.graveyard>.two {
    border-top: 4px solid orange;
}

.graveyard>.six {
    border-bottom: 4px solid orange;
}

.graveyard>.a {
    border-left: 4px solid orange;
}

.graveyard>.b {
    border-right: 4px solid orange;
}

.graveyard>.one {
    background-color: darkslategray;
    border: 2px solid darkslategray;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graveyard .ally-grave {
    margin-bottom: 10px;
}

.graveyard .enemy-grave {
    margin-top: 10px;
}

/* ------------------------- ships ------------------------- */
.ship {
    border-radius: 50%;
    border: 4px solid darkslategray !important;
    background-color: slategray !important;
    display: grid;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    align-items: normal !important;
}

.ship.size-three {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.size-three.no-a {
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
}

.size-three.no-b {
    grid-column: 2 / span 1;
    grid-row: 4 / span 3;
}

.ship.size-two {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.size-two.no-a {
    grid-column: 1 / span 1;
    grid-row: 5 / span 2;
}

.size-two.no-b {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}

.pipe {
    border-radius: 50%;
    border: 2px solid darkslategray !important;
    background-color: slategray !important;
}

.pipe.spot1 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.pipe.spot2 {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}

.pipe.spot3 {
    grid-column: 2 / span 1;
    grid-row: 8 / span 1;
}

/* ------------------------- popup ------------------------- */
.blankSlate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp {
    position: fixed;
    width: 80%;
    height: 60%;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.popUpH1 {
    font-size: 30px;
    width: 360px;
    padding-top: 2px;
    text-align: center;
    color: darkslategray;
    background-color: slategray;
    margin-top: 0;
    margin-bottom: 0;
}

.popUpP {
    text-align: center;
    font-size: 25px;
    color: slategray;
    margin-bottom: 20px;
    padding: 0 20px;

}

.popBttn {
    background-color: slategray;
    color: darkslategray;
    width: 225px;
}

.popBttn {
    background-color: slategray;
    color: darkslategray;
    width: 225px;
}

.popBttn:hover {
    color: lightsteelblue;
}

/* ------------------------- footer ------------------------- */
footer {
    width: 100%;
    margin-top: 30px;
    height: auto;
    display: flex;
    justify-content: center;
}

.redo {
    background-color: darkslategray;
    color: lightsteelblue;
}

/* ------------------------- media queries ------------------------- */
/* TODO: Fix div p's when screen is shrunken AND center ships on grid spaces AND popups*/
@media only screen and (min-width: 768px) {
    h1 {
        width: 500px;
        height: 50px
    }

    h3 {
        font-size: 11px;
    }

    button {
        font-size: 27px;
        width: 225px;
        margin: 5px;
    }

    .label {
        grid-template-columns: repeat(1, 45px);
        grid-template-rows: repeat(7, 45px);
        margin: 0;
    }

    .grid {
        grid-template-columns: repeat(7, 45px);
        grid-template-rows: repeat(7, 45px);
    }

    .grid>div {
        width: 45px;
        height: 45px;
    }

    .grid>div>p {
        font-size: 30px;
        margin: auto;
    }

    .divider {
        height: 650px;
        width: 10px;
        visibility: visible;
    }

    .graveyard {
        grid-template-columns: repeat(2, 45px);
        grid-template-rows: repeat(6, 45px);
    }

    .ship{
        margin: 5px;
    }

    .popUp {
        width: 60%;
    }

    .popUpH1 {
        font-size: 35px;
        width: 450px;
        padding-bottom: 55px;
    }

    .popUpP {
        font-size: 30px;
        margin-bottom: 45px;
    
    }

    .redo {
        margin-top: 50px;
    }
}